<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        colors="true"
        bootstrap="test/bootstrap.php">

    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Functional">
            <directory>test/Functional</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory>test/Integration</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory>test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
